.ds {
  background-color: black;
  touch-action: none;
}

.outer-flex-box {
  display: flex;
  flex-direction: row;
}

.ds-edit-div {
  height: 1000px;
  width: 400px;
}

.ds-properties {
  display: flex;
  flex-direction: column;
  background-color: rgb(168, 207, 168);
  height: 100%;
}

.add-ds-items-button-list {
  display: flex;
  flex-direction: row;
}

.ds-list {
  height: 400px;
  max-height: 400px;
  overflow-y: auto;
}

.ds-list-deleteButton {
  color: red;
  float: right;
  border: none;
  padding: 5px 5px 5px 5px;
}

.highlighted-ds-list-item {
  background-color: rgb(202, 235, 255);
  padding-top: 7px;
  padding-bottom: 7px;
  border: 1px solid gray;
}

.non-highlighted-ds-list-item {
  background-color: lightgray;
  padding-top: 7px;
  padding-bottom: 7px;
  border: 1px solid gray;
}

.controls-list {
  background-color: lightgray;
}

.toggleEditDriverstation {
  display: inline-block;
  border: none;
  font-size: large;
  padding: 10px 20px;
  margin: 5px;
}

.controls-title {
  text-align: center;
  font-size: larger;
  background-color: white;
  padding: 10px 10px;
}

.properties-title {
  text-align: center;
  font-size: larger;
  background-color: rgb(168, 207, 168);
  padding: 10px 10px;
}

.add-ds-items-button {
  display: inline-block;
  border: none;
  background-color: #008CBA;
  padding: 10px 10px;
  margin: 2px;
  height: 100%;
  font-size: large;
}

.clear-ds-items-button {
  background-color: #f44336;
}

.config-edit {
  width: 800px;
  display: flex;
  flex-direction: row;
  background-color: rgb(168, 207, 168);
}

.potential-components {
  padding: 5px 5px;
}

.active-components {
  padding: 5px 5px;
}

.component-properties {
  padding: 5px 5px;
}