.ds {
  background-color: beige;
  touch-action: none;
}

.outer-flex-box {
  display: flex;
  flex-direction: row;
}

.ds-edit-div {}

.ds-properties {
  display: flex;
  flex-direction: column;
}

.add-ds-items-button-list {
  display: flex;
  flex-direction: row;
}

.ds-list {
  max-height: 300px;
  overflow-y: auto;
  background-color: lightgrey;
}

.add-ds-items-button {
  display: inline-block;
  background-color: #008CBA;
  border: none;
  color: white;
  padding: 5px 10px;
  margin: 2px;
}

.clear-ds-items-button {
  background-color: #f44336;
}